<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/pages/index.css">
    <link rel="stylesheet" href="css/components/button.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/pages/index.js" type="module"></script>
    <link rel="button" href="js/components/button.js">
    
    <title>p2</title>  
</head>
<body>
    <main>
        <div id="app">
            <!-- la action ha de ser quan submit -->
            <div class= "searchbar" method="GET">
                <button class="searchbtn" v-on:click="loadPokeData">Search</button>
                <input class="searchfield" id="inputinfo" type="input" v-model="searchField" placeholder="Input here"/>
            </div>

            <!--<div class="data">
                <table v-if="characters.lenght" class="table">
                    <thead>
                        <tr>
                             <th>Character</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in returnCharacter">
                            <td><a v-bind:href="item.uri" target="_blank">{{item.name}}</a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>-->
        </div>
    </main>
</body>

</html>