<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Characters</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/pages/index.js" type="module"></script>
  </head>
  <body>
    <head>
      <h1>Characters</h1>
    </head>
    <main>
      <div id="Personajes">
        <section>
          <search-bar></search-bar>
          <p v-if="searchInput">{{ searchInput }}</p>
          <c-button
            v-for="character in characters"
            v-bind:data="character"
            v-bind:key="character.id"
          ></c-button>
          <fichas v-bind:data="characterData"></fichas>
        </section>
      </div>
    </main>
  </body>
</html>
